In [8]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [9]:
data = pd.read_csv('8283.csv')

In [10]:
df = pd.DataFrame(data)

In [11]:
x = df[['Raport']]

In [12]:
kmeans = KMeans(n_clusters=3, random_state=42)
df['Klaster'] = kmeans.fit_predict(x)

c:\Users\LENOVO\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [13]:
score = silhouette_score(x, df['Klaster'])

In [14]:
print("Data dengan Klaster :")
print(df)
print(f"\nSilhouette Score : {score}")

Data dengan Klaster :
                       Nama  Raport  Klaster
0           ABDIEL AFDELINA      78        2
1       ADITYA PUTRA ARDANA      65        0
2            AHMAD AL FAUZI      73        2
3             AMZAR HAMIZAN      65        0
4      ANNISA YULIANTI AZRA      65        0
..                      ...     ...      ...
72    TENGKU ARIELLA KHANSA      65        0
73     TIFANY LUSIANA PUTRI      75        2
74  ULY CHAROLINA PANJAITAN      89        1
75                 VERENYEN      76        2
76     WAHYU FAHREZA ISMAIL      73        2

[77 rows x 3 columns]

Silhouette Score : 0.6653348200855681